<div class="page-header col-sm-offset-1">
    <h1>About this app</h1>      
  </div>
  
  <div class="panel panel-primary col-sm-offset-1 col-sm-5">
      <div class="panel-heading">
          Information
      </div>
      <div class="panel-body">
          Author: <strong>Adrian Kastrau</strong><br><br>
          Repository: <a href="http://bitbucket.org/akastrau/webdev-pg1">Hosted on Bitbucket</a> <br>
          This is my first Web app! :)
      </div>
  </div>

{{outlet}}
