<div class="page-header col-sm-offset-1">
    <h1>O tej aplikacji</h1>
  </div>

  <div class="panel panel-primary col-sm-offset-1 col-sm-5">
      <div class="panel-heading">
          Informacje
      </div>
      <div class="panel-body">
          Autorzy: <strong>Adrian Kastrau (Backend), Przemek Formela (Frontend), Szymon Kamiński (Backend)</strong>
          <br><br>Pozostali: <strong>Krzysztof Romanowski, Kacper Dąbrowski, Dominik Chmist</strong><br>
          <br>Grupa TransSzwagier<br><br>
          Repozytorium: <a href="https://github.com/TransZbyszek/kup-mi-mamo">Repozytorium GitHub</a> <br>

      </div>
  </div>

{{outlet}}
