<center>
    <div>
        <br><br>
        <i class="fa fa-circle-o-notch fa-spin" aria-hidden="true" style="font-size:32px; color:blue">
        </i> <span style="font-size:32px">Please wait...</span>
    </div>
</center>