
<style>
  .glyphicon-plus {
     color: #00CC00;
  }
  .glyphicon-list-alt {
    color: #000;
  }
  .glyphicon-pushpin {
    color: #000;
  }
  .glyphicon-wrench {
    color: #000;
  }
  </style>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
      data-toggle="collapse" data-target="#menu-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to 'application' class="navbar-brand" }}
      <a href="#"><span class="glyphicon glyphicon-home"></span>Home</a>
      {{/link-to}}
    </div>

    <div class="collapse navbar-collapse" id="menu-collapse">
      <ul class="nav navbar-nav">
        {{#link-to 'new' tagName='li'}}<a href="#"><span class="glyphicon glyphicon-plus"></span>Add vehicle</a>{{/link-to}}
        {{#link-to 'list' tagName='li'}}<a href="#"><span class="glyphicon glyphicon-list-alt"></span>Show vehicles</a>{{/link-to}}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{#link-to 'changelog' tagName='li'}}<a href="#"><span class="glyphicon glyphicon-pushpin"></span>Changelog</a>{{/link-to}}
        {{#link-to 'about' tagName='li'}}<a href="#"><span class="glyphicon glyphicon-wrench"></span>About</a>{{/link-to}}
      </ul>
    </div>
  </div>
</nav>

<div class="container">
    <div class="jumbotron">
        <h1>Ember Application</h1>
        <p>Testowa aplikacja Ember PG.</p>
    </div>
 <div class="alert alert-warning fade in col-sm-offset-1 col-sm-7">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
        </button>
        <strong>Last core update:</strong> Thu May 05 2016 16:29:07 GMT+0200 (CEST). See <strong>{{link-to "what's changed" 'changelog'}}</strong>. :)
</div>
  </div>
  <div>
  {{outlet}}
</div>