<h2 id="title">Ember Web App</h2>
<div>
    <h2>Menu</h2>
     {{#link-to "application"}}Home page{{/link-to}} {{#link-to "new"}}New vehicle{{/link-to}}  {{#link-to "list"}} Show vehicles{{/link-to}}
    <br>
</div>
{{outlet}}
