
<!--Build date-->
<div class="page-header col-sm-offset-1">
    <h1>Welcome!</h1>
  </div>

  <div class="panel panel-danger col-sm-offset-1 col-sm-5">
      <div class="panel-heading">
          Changelog
      </div>
      <div class="panel-body">
          <strong>Last update:</strong> Thu May 05 2016 16:29:07 GMT+0200 (CEST) <br><br>
          What's changed: <br>
          +Deleted production build files from project dir (causing errors during building application)
          <br><br>
           <strong>Update date:</strong> sobota, 30 kwietnia 2016 23:24:31 <br><br>
          What's changed: <br>
          +Loading gif is loading directly to browser cache (or so I think...)
          <br><br>
            <strong>Update date:</strong> sobota, 30 kwietnia 2016 16:09:11 <br>
            What's changed: <br>
            +Added loading screen (route) <br>
            +Added some small improvements
            <br><br>
            <strong>Update date:</strong> piątek, 29 kwietnia 2016 23:34:27 <br>
          What's changed: <br>
          +Added icons (menu bar), <br>
          -Removed willTransition function in new.js, <br>
          +Added 'About'page, <br>
          +Added 'Changelog' page, <br>
          +Minor core improvements. <br>

      </div>
  </div>

{{outlet}}
