
<!--Build date-->
<div class="page-header col-sm-offset-1">
    <h1>Welcome!</h1>      
  </div>
  
  <div class="panel panel-danger col-sm-offset-1 col-sm-5">
      <div class="panel-heading">
          Changelog
      </div>
      <div class="panel-body">
          <strong>Last update:</strong> piątek, 29 kwietnia 2016 23:34:27<br><br>
          What's changed: <br>
          +Added icons (menu bar), <br>
          -Removed willTransition function in new.js, <br>
          +Added 'About'page, <br>
          +Added 'Changelog' page, <br>
          +Minor core improvements. <br>
          
      </div>
  </div>

{{outlet}}