<h2>List of cars</h2>

<div>
    <ul class="list-group">
        {{#each model as |vehicle|}}
        <li class="list-group-item">
            Brand: {{vehicle.mark}}, location: {{vehicle.place}}
        </li>
        {{/each}}
    </ul>
</div>
{{outlet}}
