<h2>List of cars</h2>

<div>
    <ul>
        {{#each model as |vehicle|}}
        <li>
            Brand: {{vehicle.mark}}, location: {{vehicle.place}}
        </li>
        {{/each}}
    </ul>
</div>
{{outlet}}
